html,body {
    min-height: 100vh
}

.grid {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.26fr);
    grid-template-areas:
      "header header header "
      "main main main "
      "footer footer footer "
}

header {
    grid-area: header;
}

main {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    grid-area: main;
}

.wrapper {
    width: 500px;
}

h1 {
    margin: 0;
    font-size: 72px;
}

.graphic {
    width: 800px;
}

.card-form {
    padding: 2em;
    border-radius: 26px;
    box-shadow: 3px 3px 3px 3px #33313165;
}

h2 {
    margin-bottom: 0;
    font-size: 40px;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 11px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #33313170;
}

.btn-drive {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 11px;
    background-color: #57EEAB;
    padding: 0.5em;
    margin-top: 0.5em;
}

.link {
    text-decoration: none;
    color: #FF8480;
}

#footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1.5em;
    background-color: #FFFD8C; 
    justify-content: stretch;
    align-items: center;
    margin-top: 1em;
}

.calculate-form{
    width: 87%;
}

.calculate-form p{
    margin: 0.25em;
}

.calc-input1 {
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    width: 80px;
    padding: 9px;
    border: none;
}

.calc-input2 {
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    width: 125px;
    padding: 9px;
    border: none;
}

.btn-calc {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 7px;
    background-color: #FF8480;
    padding: 4px 14px;
    margin-top: 0;
}

.calc-heading {
    font-size: 18px;
    font-weight: bold;
}

.social-icons {
    order: 2;
    margin: 0 auto;
}

.icon {
    margin: 8px;
}

@media only screen and (max-width: 1248px) {
    .grid {
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        width: 85%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
          "header "
          "main"
          "main"
          "main"
          "main"
          "footer"
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    grid-area: main;
}

.graphic {
    align-self: center;
    width: 400px;
    margin-bottom: 1em;
}

#footer {
    flex-direction: column;
}

.social-icons {
    margin: 1em;
}

@media only screen and (max-width: 480px) {
    .btn-calc {
        width: 100%;
    }
}