/***AN ATTEMPT TO MAKE THE FOOTER COVER THE BOTTOM, STILL RESTRICTED BY GRID CLASS***/
html,body {
    min-height: 100vh
}
/***3ROWX3COLUMN CENTERED CONTAINER***/
.grid {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.26fr);
    grid-template-areas:
      "header header header "
      "main main main "
      "footer footer footer "
}

header {
    grid-area: header;
}
/***MAIN SECTION FOR THE 3 ELEMENTS***/
main {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    grid-area: main;
}
/***LIMIT SIZE FOR MAIN BANNER HEADING TO MAINTAIN THE ORIGINAL LOOK OF THE TEXT THROUGHOUT***/
.wrapper {
    max-width: 500px;
}

h1 {
    margin: 0;
    font-size: 72px;
}

.graphic {
    width: 800px;
}

.card-form {
    padding: 2em;
    border-radius: 26px;
    box-shadow: 3px 3px 3px 3px #33313165;
}

h2 {
    margin-bottom: 0;
    font-size: 40px;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 11px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #33313170;
}

.btn-drive {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 11px;
    background-color: #57EEAB;
    padding: 0.5em;
    margin-top: 0.5em;
}
/***SOLE CARD LINK THAT NEEDED COLOUR CHANGE***/
.link {
    text-decoration: none;
    color: #FF8480;
}

#footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1.5em;
    background-color: #FFFD8C; 
    justify-content: stretch;
    align-items: center;
    margin-top: 1em;
}
/***FOOTER'S SMALL FORM SECION***/
.calculate-form{
    width: 87%;
}

.calculate-form p{
    margin: 0.25em;
}
/***SEPARATE CLASSES FOR THE DIFFERENT INPUT SIZES***/
.calc-input1 {
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    width: 80px;
    padding: 9px;
    border: none;
}

.calc-input2 {
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    width: 125px;
    padding: 9px;
    border: none;
}

.btn-calc {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 7px;
    background-color: #FF8480;
    padding: 4px 14px;
    margin-top: 0;
}

.calc-heading {
    font-size: 18px;
    font-weight: bold;
}
/***THE SOCIAL MEDIA ICONS DIV FOR FLEX***/
.social-icons {
    order: 2;
    margin: 0 auto;
}

.icon {
    margin: 8px;
}
/***TABLET AND PHONE QUERY, CHANGING AREAS AND GRID DIRECTION***/
@media only screen and (max-width: 1248px) {
    .grid {
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        width: 85%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
          "header "
          "main"
          "main"
          "main"
          "main"
          "footer"
    }

    main {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        grid-area: main;
    }

    .graphic {
        align-self: center;
        width: 400px;
        margin-bottom: 1em;
    }

    #footer {
        flex-direction: column;
    }

    .social-icons {
        margin: 1em;
    }
}